.no-pinned-container {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(156, 248, 196); */
    background: #fff;
    margin: 130px auto;
    border-radius: 15px;
    box-shadow: 12px 12px 16px 0 #777,
        -8px -8px 12px 0 #fff;
}

.no-pinned-text {
    font-size: 1.3rem;
    margin-bottom: 10px;
}