@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Vidaloka&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: rgb(214, 253, 231);
  /* background: rgb(190, 255, 218); */
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.main-container {
  width: 97%;
  height: 100%;
  margin: 0 auto;
}